*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.png
check_output.txt
vignettes/results/
results/
cran-comments.md
plantR.Rproj
gera_vinhetas.R
teste.Rmd
teste.html
teste.pdf

# ignoring locally ast
test/
data-raw/dictionaries/preliminary_gazetteer_GADM.csv
data-raw/raw_dictionaries
data-raw/results
data-raw/raw_dictionaries/
data-raw/results/
vignettes/formatOcc details.Rmd
vignettes/articles/geographic validation.Rmd
vignettes/articles/plantr_tutorial_rename.Rmd
vignettes/articles/using_rspeciesLink.Rmd
vignettes/articles/formatOcc details.Rmd
/doc/
/Meta/
data-raw/api_key.txt
