# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R-CMD-check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    # runs-on: macos-latest
    # runs-on: windows-latest
    # runs-on: ubuntu-latest
    strategy:
      # matrix:
      #   r-version: ['4.1.1']
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: '4.1.1'}
          - {os: windows-latest, r: '4.1.1'}
          - {os: ubuntu-latest,   r: '4.1.1'}

    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-pandoc@v2
      - name: Set up R ${{ matrix.r-version }}
        uses: r-lib/actions/setup-r@f57f1301a053485946083d7a45022b278929a78a
        with:
          r-version: ${{ matrix.r-version }}
      - name: Install dependencies
        run: |
          install.packages(c("remotes", "rcmdcheck", "rmarkdown", "knitr", "pandoc"))
          remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}
      - name: Check
        run: rcmdcheck::rcmdcheck(args = c("--no-manual"), error_on = "error")
        shell: Rscript {0}
